<h1>Listing cities</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Postal code</th>
    <th>State</th>
    <th>Contry</th>
    <th>Inactivated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.description %></td>
    <td><%= city.postal_code %></td>
    <td><%= city.state %></td>
    <td><%= city.contry %></td>
    <td><%= city.inactivated_at %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
